<div class="container color-dark">
  <div class="col">
    <p>Interests items</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="interests" placeholder="Interest" [(ngModel)]="myInterest.interests"><br>
      <input type="submit" class="btn" [value]="btnTxt" (click)="AgregarInterest()">
    </form>
  </div>

  <div class="col">
    <p class="life-container" *ngFor="let interest of interests">
      <span class="button-group-inline">
      <input type="submit" class="btn" value="edit" (click)="editInterests(interest)" />
      <input type="submit" class="btn eliminar-btn" value="delete" (click)="deleteInterests(interest.id)" />
      {{ interest.interests }}
      </span>
    </p>
  </div>
</div>
